<div class="dude-be-together-section mdl-typography--text-center">
    <div class="logo-font dude-slogan">Angular Interview Questions - Beginner</div>
    <div class="logo-font dude-sub-slogan">master your skill... rock that interview... get the job you deserve.</div>
    <a href="#screens">
      <button class="dude-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
          <i class="material-icons">expand_more</i>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(49px, 13px);"></span></span></button>
    </a>
  </div>